################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/Tut 1 - Client/Tut 1 - Client/Debug
/Tut 1 - Client/.vs/Tut 1 - Client/v15
/Tut 1 - Client/Debug
/Tut 1 - Client/Tut 1 - Client/md5.h
/Tut 1 - Client/Tut 1 - Client/lol.png
/Tut 1 - Client/Tut 1 - Client/file.txt
/Tut 1 - Client/Tut 1 - Client/Source - FINAL.cpp
