################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/Tut 1 - Client/Tut 1 - Client/Debug
/Tut 1 - Client/.vs/Tut 1 - Client/v15
/Tut 1 - Client/Debug
/Tut 1 - Client/Tut 1 - Client/md5.h
/Tut 1 - Client/Tut 1 - Client/lol.png
/Tut 1 - Client/Tut 1 - Client/file.txt
/Tut 1 - Client/Tut 1 - Client/Source - FINAL.cpp
/Tut 1 - Client/Tut 1 - Client/test.png
/Tut 1 - Client/Tut 1 - Client/Source - working 1.cpp
/Tut 1 - Client/Tut 1 - Client/Source - working 1 - kopie.cpp
/Tut 1 - Client/Tut 1 - Client/Source - kopie.cpp
/Tut 1 - Client/Tut 1 - Client/Havel - Client as. 1.zip
/Tut 1 - Client/Tut 1 - Client/DELEL_Header.jpg
/Tut 1 - Client/Tut 1 - Client/Client side Wireshark log.csv
/Tut 1 - Client/Tut 1 - Client/stest.jpg
